.header {
  @apply h-[72px] bg-transparent absolute z-10 top-0 w-full grid items-center gap-x-10 py-0 px-10
    mobile:h-16 mobile:gap-x-5 mobile:px-4;
  grid-template-columns: auto auto 3fr auto;
}

.dots {
  @apply w-6 mobile:rotate-90;
}

.link {
  @apply text-small tracking-[4px] uppercase transition-all;
}

.white {
  @apply text-white;
}

.gray {
  @apply text-color-text-primary;
}

.color-text-secondary {
  @apply text-color-text-secondary;
}

.search {
  @apply flex gap-x-3 justify-self-end w-fit;
}

.bin {
  @apply relative w-10 h-10 flex items-center justify-center rounded-full
    bg-color-primary transition-all
    mobile:w-8 mobile:h-8;

  .icon {
    @apply w-5;
  }
}

.count {
  @apply absolute -top-1 -right-1 w-5 h-5 rounded-full bg-[#d34546]
    flex justify-center items-center font-circe text-xs text-white;
}

@media (hover: hover) {

  .dots {
    & svg {
      @apply hover:fill-color-icon-secondary transition-all;
    }
  }

  .search:hover .link {
    @apply text-color-icon-secondary;
  }

  .bin {
    @apply hover:bg-color-hover;
  }
}
