@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Orchidea Pro";
  src: local("Orchidea Pro Medium"), local("Orchidea-Pro-Medium"),
    url("/fonts/OrchideaPro-Medium.woff2") format("woff2"), url("/fonts/OrchideaPro-Medium.woff") format("woff"),
    url("/fonts/OrchideaPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: local("Circe Light"), local("Circe-Light"), url("/fonts/Circe-Light.woff2") format("woff2"),
    url("/fonts/Circe-Light.woff") format("woff"), url("/fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: local("Circe Bold"), local("Circe-Bold"), url("/fonts/Circe-Bold.woff2") format("woff2"),
    url("/fonts/Circe-Bold.woff") format("woff"), url("/fonts/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* #region tags */

body {
  font-family: "Orchidea Pro", sans-serif;
  color: #1e1e1e;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* #endregion */

/* #region common */

.no-scroll {
  overflow: hidden;
}

.page {
  position: relative;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main {
  container-type: inline-size;
  flex: 1 1 auto;
  margin-top: 72px;
}

.cards-lt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
  grid-auto-rows: max-content;
  margin-bottom: 142px;
}

.grid-lt {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heading {
  @apply text-xlarge uppercase m-0 mobile:text-[28px] mobile:leading-9;
}

.accordion {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease;

  &__hidden {
    overflow: hidden;
  }

  &__open {
    grid-template-rows: 1fr;
  }
}

.header-info {
  width: 75%;
  padding: 40px 0 44px;
  margin-left: 40px;
}

/* #endregion */

@media (hover: hover) {

  .btn{
    @apply hover:bg-color-hover;
  }
}

@media (max-width: 991px) {
  .grid-lt {
    grid-template-columns: 1fr;
  }

  .grid-2col {
    grid-template-columns: 1fr;
  }

  .btn {
    @apply laptop:w-full rounded-none;
  }
}

@media (max-width: 767px) {
  .main {
    margin-top: 64px;
  }

  .cards-lt {
    grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
  }

  .header-info {
    width: 100%;
    padding: 20px 16px 40px;
    margin-left: 0;
  }
}
