$bg: #fff;
$color-primary: #4E76C6;
$light-lines: #ECEAE7;
$color-bg: #F5F3F0;
$hover: #426bbd;

$color-text: #1E1E1E;
$color-text-secondary: #72716E;
$color-divider: #ECEAE7;
$color-text-button: #fff;

$color-icon: #2C2D2E;
$color-icon-secondary: #BFC0C7;

$circe: "Circe", sans-serif;
$letter-spacing: 4px;
$transition: all 0.2s linear;